@import "tailwindcss";

@theme {
  --color-primary: #2962FF;
}

input::-ms-reveal {
  display: none !important;
  /* Hides the reveal button in Microsoft Edge */
}

button {
  cursor: pointer;
}

li.button {
  cursor: pointer;
}

li.menu-hover:hover {
  background: #2962FF4D;
}

li.menu-active {
  background: #2962FF4D;
}

.top-hero {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.remove-outline:focus {
  outline: none;
}

/* Start Checkbox Lengend */

.checkbox-wrapper-64 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-64 *,
.checkbox-wrapper-64 ::after,
.checkbox-wrapper-64 ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-64 .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.checkbox-wrapper-64 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.checkbox-wrapper-64 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .1s;
  border-radius: 30px;
}

.checkbox-wrapper-64 .slider:before {
  position: absolute;
  content: "";
  height: 0.9em;
  width: 0.9em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

.checkbox-wrapper-64 input:checked+.slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.checkbox-wrapper-64 input:focus+.slider {
  box-shadow: 0 0 1px #007bff;
}

.checkbox-wrapper-64 input:checked+.slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}

/* End Checkbox Lengend */

.shadow-3drops {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@keyframes slideOutDown {
  from {
    scale: 0;
    opacity: 1;
    transform: translateY(-20px);
  }

  to {
    scale: 1;
    opacity: 0;
    transform: translateY(0);
  }
}

.notification {
  animation: slideOutDown 0.1s ease-out;
}