<html lang="vi">
<head>
  <title>Xác thực đăng ký doanh nghiệp</title>
</head>
<body>
<p>Xin chào,</p>
<p>
  Bạn đang thực hiện đăng ký doanh nghiệp mới tại hệ thống quản lý An toàn vệ sinh lao động.<br />
  Mã xác thực (OTP) đăng ký của bạn là: <strong style="font-size: 20px; color: #0284c7;">$1</strong><br />
  Mã này có hiệu lực trong vòng $2 phút.<br />
  Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua thư này.<br />
  Nếu có gì thắc mắc, vui lòng liên hệ số điện thoại hỗ trợ: (028. 3535.2524)
</p>
</body>
</html>
