<html lang="vi">
<head>
  <title>Xác thực thay đổi Email hệ thống</title>
</head>
<body>
<p>Xin chào <strong>$1</strong>,</p>
<p>
  Bạn vừa gửi đề nghị thiết lập lại địa chỉ Email đăng nhập tại hệ thống quản lý hồ sơ ngân sách người có công VNA.<br />
  Mã xác thực (OTP) của bạn là: <strong style="font-size: 20px; color: #d9534f;">$2</strong><br />
  Mã này có hiệu lực trong vòng $3 phút.<br />
  Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua thư này hoặc liên hệ với Quản trị viên để bảo mật tài khoản.<br />
  Nếu có gì thắc mắc, vui lòng liên hệ số điện thoại hỗ trợ: (028. 3535.2524)
</p>
</body>
</html>